body { margin:0; padding:0; }
/* #map { 
    width: 100%; 
    height:100%; 
    position: absolute 
} */

.maplibregl-map {
    height: 80vh;
}

#title {
  padding-left: 1em;
  padding-right: 1em;
    }

* {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr; 
    gap: 0px 0px;
    grid-template-areas:
        "map map list";
}

.map {
    grid-area: map;
    border-radius: 1rem;
    margin-left: 1rem;
}

.list {
    grid-area: list;
    margin-left: 1rem;
    margin-right: 1rem;

    > input {
        width: 100%;
        padding:1rem;
        border-radius: 0.5rem;
    }

    > ul {
        list-style-type: none;
        padding-left: 0;

        > li {
            padding: 1rem;
            margin-bottom: 1rem;
            background-color: #eeeeee;
            border-radius: 0.5rem;
        }
    }
}

.copyright {
    margin: 3rem;
    text-align: center;

    > a {
        text-decoration: none;
    }
}

em {
   font-weight: bold;
   font-style: normal; 
   color: #4A90E2;
}